
.env


node_modules/
**/node_modules/

# === Keystore (wallets) ===
.keystore/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log



.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp


dist/
build/
.cache/
tmp/
coverage/
.output/


